<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.36</string>
	<key>CFBundleVersion</key>
	<string>1.36</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2019 The Geany Team, GNU General Public License</string>

	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>Geany</string>
	<key>CFBundleExecutable</key>
	<string>geany</string>
	<key>CFBundleIconFile</key>
	<string>Geany.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.geany.geany</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<!-- Register .geany extension in the system -->
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.geany.geany</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.geany.org/</string>
			<key>UTTypeDescription</key>
			<string>Geany project</string>
			<key>UTTypeIconFile</key>
			<string>Geany.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>GEANY</string>
				<key>public.filename-extension</key>
				<array>
					<string>geany</string>
					<string>GEANY</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/x-geany</string>
				</array>
			</dict>
			
		</dict>
	</array>

	<key>CFBundleDocumentTypes</key>
	<array>
		<!-- Register Geany as editor/owner of the .geany extension -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true />
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.geany.geany</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>geany</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Geany project</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/x-geany</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GEANY</string>
			</array>
		</dict>
		
		<!-- This gives us all text file associations -->
		<dict>
			<key>CFBundleTypeName</key>
			<string>Plain text</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		
		<!-- All file associations - legacy, probably has no effect -->
		<dict>
			<key>CFBundleTypeName</key>
			<string>Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>

<!-- What follows is generated using the plist_filetypes.py script -->

		<dict>
			<key>CFBundleTypeName</key>
			<string>Abaqus Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Abc Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>abc</string>
				<string>abp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ActionScript Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>as</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Ada Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>adb</string>
				<string>ads</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Arduino Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ino</string>
				<string>pde</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Asciidoc Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>adoc</string>
				<string>asciidoc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ASM Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>S</string>
				<string>a51</string>
				<string>asm</string>
				<string>asm51</string>
				<string>s</string>
				<string>sx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Batch Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bat</string>
				<string>cmd</string>
				<string>nt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CAML Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ml</string>
				<string>mli</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>C Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c</string>
				<string>xpm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>C++ Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>C</string>
				<string>H</string>
				<string>c++</string>
				<string>cc</string>
				<string>cpp</string>
				<string>cxx</string>
				<string>h</string>
				<string>h++</string>
				<string>hh</string>
				<string>hpp</string>
				<string>hxx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Clojure Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>clj</string>
				<string>cljc</string>
				<string>cljs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CUDA Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cu</string>
				<string>cuh</string>
				<string>h</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>C# Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CMake Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cmake</string>
				<string>ctest</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>COBOL Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbl</string>
				<string>cob</string>
				<string>cobol</string>
				<string>cpy</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CoffeeScript Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>Cakefile</string>
				<string>coffee</string>
				<string>coffee.erb</string>
				<string>iced</string>
				<string>iced.erb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Conf Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cfg</string>
				<string>conf</string>
				<string>desktop</string>
				<string>ini</string>
				<string>properties</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CSS Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>css</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Cython Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pxd</string>
				<string>pxi</string>
				<string>pyx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>D Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>d</string>
				<string>di</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Diff Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>diff</string>
				<string>patch</string>
				<string>rej</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Docbook Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>docbook</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Erlang Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>erl</string>
				<string>hrl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>F77 Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>F</string>
				<string>FOR</string>
				<string>FPP</string>
				<string>FTN</string>
				<string>f</string>
				<string>f77</string>
				<string>for</string>
				<string>fpp</string>
				<string>ftn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Ferite Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Forth Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fs</string>
				<string>fth</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Fortran Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>F03</string>
				<string>F08</string>
				<string>F90</string>
				<string>F95</string>
				<string>f03</string>
				<string>f08</string>
				<string>f90</string>
				<string>f95</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>FreeBasic Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bas</string>
				<string>bi</string>
				<string>vbs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Genie Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GLSL Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>frag</string>
				<string>glsl</string>
				<string>vert</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Go Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>go</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Graphviz Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dot</string>
				<string>gv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Haskell Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hs</string>
				<string>hs-boot</string>
				<string>lhs</string>
				<string>lhs-boot</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Haxe Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>HTML Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cfm</string>
				<string>hta</string>
				<string>htd</string>
				<string>htm</string>
				<string>html</string>
				<string>htt</string>
				<string>shtml</string>
				<string>tpl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Java Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>java</string>
				<string>jsp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Javascript Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>js</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JSON Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>json</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>LaTeX Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aux</string>
				<string>bib</string>
				<string>idx</string>
				<string>latex</string>
				<string>ltx</string>
				<string>sty</string>
				<string>tex</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Lisp Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lisp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Lua Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lua</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Make Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mak</string>
				<string>mk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Markdown Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>markdown</string>
				<string>md</string>
				<string>mdml</string>
				<string>mdown</string>
				<string>mdtext</string>
				<string>mdtxt</string>
				<string>mdwn</string>
				<string>mkd</string>
				<string>mkdn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Matlab/Octave Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NSIS Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nsh</string>
				<string>nsi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Objective-C Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>h</string>
				<string>m</string>
				<string>mm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Pascal Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dpk</string>
				<string>dpr</string>
				<string>inc</string>
				<string>pas</string>
				<string>pp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Perl Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>agi</string>
				<string>perl</string>
				<string>pl</string>
				<string>pm</string>
				<string>pod</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PHP Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>php</string>
				<string>php3</string>
				<string>php4</string>
				<string>php5</string>
				<string>phtml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Po Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>po</string>
				<string>pot</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Python Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
				<string>pyw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PowerShell Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ps1</string>
				<string>psm1</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>reStructuredText Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>reST</string>
				<string>rest</string>
				<string>rst</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>R Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>R</string>
				<string>r</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Rust Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Ruby Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gemspec</string>
				<string>rb</string>
				<string>rhtml</string>
				<string>ruby</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Scala Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scala</string>
				<string>scl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Sh Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ac</string>
				<string>am</string>
				<string>ash</string>
				<string>bash</string>
				<string>in</string>
				<string>ksh</string>
				<string>m4</string>
				<string>mksh</string>
				<string>sh</string>
				<string>zsh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SQL Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sql</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Tcl Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exp</string>
				<string>tcl</string>
				<string>tk</string>
				<string>wish</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Txt2tags Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>t2t</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Vala Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vala</string>
				<string>vapi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Verilog Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>VHDL Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vhd</string>
				<string>vhdl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>XML Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dtd</string>
				<string>mathml</string>
				<string>mml</string>
				<string>sgml</string>
				<string>xhtml</string>
				<string>xml</string>
				<string>xsd</string>
				<string>xsl</string>
				<string>xslt</string>
				<string>xtpl</string>
				<string>xul</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>YAML Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>yaml</string>
				<string>yml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Zephir Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zep</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geany.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>

<!-- End of generated code -->
		
	</array>    
</dict>
</plist>
